@model ClientViewModel
@{
    Layout = "_LayoutHome";
}
<h1 style="color: #412E27; padding: 10px 0 10px 0">Clientes</h1>
<div class="d-flex" style="width: 100%">
    <div style="height:89vh ;width: 100%;padding: 20px ; border-radius: 10px;background-color: #F5F5F5;-webkit-box-shadow: 11px 11px 13px #e6e6e6, -11px -11px 13px #ffffff;box-shadow: 11px 11px 13px #e6e6e6, -11px -11px 13px #ffffff; ">
        <div class="d-flex justify-content-between">
            <input type="text" id="search" name="name" class="input-style" style="background-color: #eaeaea; color: #000000;width: 500px" placeholder="Pesquisar" autocomplete="off" />
            @* <form asp-action="SearchClient">
                <input name="Name" value="" class="input-style" style="background-color: #eaeaea; color: #000000;width: 500px" placeholder="Pesquisar" autocomplete="off" />
                <input type="submit" value="Buscar" style="background-color: #0C5DF4;color: #FFFFFF; padding: 9px; border-radius: 5px; border: none" />
            </form> *@
            <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#CreateModal">
                Adicionar cliente
            </button>
        </div>
        <hr />
        <div style="overflow-y: auto; height: 78vh">
            <table class="table">
                <thead>
                    <tr>
                        <th>Nome</th>
                        <th>Email</th>
                        <th>Telefone</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody id="clientsResult">
                    @foreach (var client in Model.Clients)
                    {
                        <tr>
                            <td>@Html.DisplayFor(p => client.Name)</td>
                            <td>@Html.DisplayFor(p => client.Email)</td>
                            <td>@Html.DisplayFor(p => client.PhoneNumber)</td>
                            <td>
                                <a asp-controller="Client" asp-action="ClientDetails" asp-route-id="@client.Id" style="cursor: pointer;"><img src="~/icons/edit_icon.svg" alt="edit" /></a>
                                <a id="showModal" onclick="Confirm(@client.Id)" style="cursor: pointer;"><img src="~/icons/delete_icon.svg" alt="delete" /></a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>


<input type="hidden" id="idDelete" />
<!-- DELETE -->
<div class="modal fade" id="DeleteModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form asp-action="DeleteProduct">
                <input type="hidden" id="idDelete" />
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Confirmar Ação!</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    Deseja realmente deletar esse cliente?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button id="btnDelete" type="button" class="btn btn-danger">Deletar</button>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- Button trigger modal -->


<!-- Modal -->
<div class="modal fade" id="CreateModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Adicionar Cliente</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="d-flex flex-column align-items-center" style="width: 100%">
                    <form asp-action="Create" class="form-releases">
                        <div asp-validation-summary="ModelOnly"></div>
                        <div class="d-flex flex-column" style="margin-bottom: .5rem;">
                            <input asp-for="ClientModel.Name" value="" placeholder="Nome Cliente" class="input-style" style="width: 250px;background-color: #eaeaea; color: #000000;" />
                            <span asp-validation-for="ClientModel.Name" class="text-danger"></span>
                        </div>
                        <div class="d-flex flex-column" style="margin-bottom: .5rem;">
                            <input asp-for="ClientModel.Email" value="" placeholder="Email" class="input-style" style="width: 250px;background-color: #eaeaea; color: #000000;" />
                            <span asp-validation-for="ClientModel.Email" class="text-danger"></span>
                        </div>
                        <div class="d-flex flex-column" style="margin-bottom: .5rem;">
                            <input asp-for="ClientModel.PhoneNumber" value="" placeholder="Nº Telefone" class="input-style" style="width: 250px;background-color: #eaeaea; color: #000000;" />
                            <span asp-validation-for="ClientModel.PhoneNumber" class="text-danger"></span>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <input class="btn btn-success" type="submit" value="Salvar" />
                        </div>
                    </form>
                </div>
            </div>

        </div>
    </div>
</div>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script>

        $(document).ready(function () {
            $('#search').on('input', function(){
                var query = $(this).val();
                    $.ajax({
                        url: '@Url.Action("SearchClient", "Client")',
                        type: 'GET',
                        data: {Name: query},
                        success: function(data){
                            console.log(data);
                            $('#clientsResult').empty().show();
                            data.forEach(function (item){
                                var name = '<td>' + item.name + '</td>'
                                var email = '<td>' + item.email + '</td>'
                                var phone = '<td>' + item.phoneNumber + '</td>'
                                var actions = '<td><a href="/Client/ClientDetails/' + item.id + '"><img src="@Url.Content("~/icons/edit_icon.svg")" alt="edit" /></a><a id="showModal" onClick="Confirm('+ item.id +')" style="cursor: pointer;"><img src="@Url.Content("~/icons/delete_icon.svg")" alt="delete" /></a><td>'
                                $('#clientsResult').append('<tr>' + name + email + phone + actions + '</tr>')
                            })
                        }
                    })

            })
            $("#btnDelete").click(function () {
                var idD = $("#idDelete").val();
                $.ajax({
                    type: "POST",
                    url: "/Client/DeleteClient",
                    data: { id: idD },
                    success: function (result) {
                        if (result) {
                            $("#idDelete").val(null);
                            window.location.href = "/Client/ClientIndex";
                        } else {
                            alert("Ops... Alguma coisa deu errado")
                        }
                    }
                })
            })
        })
        var Confirm = function (id) {
            $("#idDelete").val(id);
            $("#DeleteModal").modal('show');
        }
    </script>
}
