@model DataSheetViewModel
@{
    Layout = "_LayoutHome";
}
<h1 style="color: #412E27; padding: 10px 0 10px 0">Adicionar Produtos</h1>
<div class="d-flex flex-column justify-content-between" style="height: 89vh;">
    <div class="d-flex" style="width: 100%; height: 100%">
        <div style=" width: 70%">
            <form asp-action="Search" style="display: flex;padding: 15px; width: fit-content;background-color: #412E27; border-radius: 10px;">
                <input class="input-style" type="type" name="name" value="" placeholder="Nome Produto" style="width: 600px; margin-right: 2rem" />
                <input class="btn btn-primary" type="submit" name="name" value="Buscar" />
            </form>
            <div style="height:87%;margin-top: 1.5rem; margin-bottom: 1.5rem;margin-right: 2rem;padding: 20px;border-radius: 10px;background-color: #F5F5F5;-webkit-box-shadow: 11px 11px 13px #e6e6e6, -11px -11px 13px #ffffff;box-shadow: 11px 11px 13px #e6e6e6, -11px -11px 13px #ffffff; ">
                <div style="padding: 15px;height: 100%;width: 100%">
                    <div style="overflow: auto; height: 100%; width: 100%;">
                        <table class="table">
                            <thead>
                                <tr style="border-bottom: 2px solid #000000;">
                                    <th style="color: #000000">Nome Produto</th>
                                    <th style="color: #000000">UN</th>
                                    <th style="color: #000000">Quantidade</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var prod in Model.Products)
                                {
                                    <tr>
                                        <form asp-action="AddProduct">
                                            <input type="hidden" name="Id" value="@prod.Id" />
                                            <td style="color: #000000;">@Html.DisplayFor(p => prod.Name)</td>
                                            <td><input class="input-style" name="Unidade" value="" style="width: 45px;" maxlength="2" autocomplete="off"/></td>
                                            <td><input class="input-style" type="number" name="Quantidade" value="" style="width: 100px;" /></td>
                                            <td><input type="submit" class="btn btn-secondary" value="Add" /></td>
                                        </form>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div style="width: 30%; border-radius: 10px; padding: 15px;border-radius: 10px;background-color: #F5F5F5;-webkit-box-shadow: 11px 11px 13px #e6e6e6, -11px -11px 13px #ffffff;box-shadow: 11px 11px 13px #e6e6e6, -11px -11px 13px #ffffff; height: 100%">
            <h4>Detalhes</h4>
            <hr />
            @foreach (var item in Model.AddedProducts)
            {
                <form asp-action="RemoveAddedProducts" class="d-flex justify-content-around">
                    <input type="hidden" name="Index" value="@item.Index" />
                    <div>@item.ProductName</div>
                    <div>@item.Unit</div>
                    <div>@item.Amount</div>
                    <button type="submit" style="background-color: transparent; border: 2px solid red; border-radius: 100%"><img src="~/icons/delete_icon.svg" alt="Alternate Text" /></button>
                </form>
                <hr />
            }
        </div>
    </div>
    <div style=" border-radius: 10px;">
    
        <div class="d-flex align-items-center justify-content-between p-4" style="height: 70px">
            <a asp-action="Cancel" class="btn btn-danger">Cancelar</a>
            <a asp-action="PreSave" class="btn btn-success">Avançar</a>
        </div>
    </div>
</div>